.start-page {
  .title-wrapper {
    background-color: #00dbde;
    background-image: var(--gradient);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    .title {
      font-size: 6em;
    }
  }

  .text {
    color: var(--text);
  }

  .login-btn {
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-image: var(--gradient);
    font-size: 24px;

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}
