@import '../components';
@import '../pages';

.main-container {
  width: 100vw;
  height: 100vh;
}

.scroll-container-y {
  overflow: hidden auto;
}

.scroll-container-x {
  overflow: auto hidden;
}

.scroll-container-y::-webkit-scrollbar,
.scroll-container-x::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

.scroll-container-y::-webkit-scrollbar-track,
.scroll-container-x::-webkit-scrollbar-track {
  background: #a3a3a3;
}

.scroll-container-y::-webkit-scrollbar-thumb,
.scroll-container-x::-webkit-scrollbar-thumb {
  background-color: #505050;
}
