.redirect-page {
  .theme-btn {
    align-self: flex-end;
  }

  .text {
    color: var(--text);
  }

  .link-btn {
    width: 150px;
    height: 50px;
    text-decoration: none;
    background-image: var(--gradient);
    font-size: 24px;

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }
  }
}
