.main-page {
  .content {
    width: 85%;

    .main-content {
      .categories {
        .category {
          width: 120px;
          height: 50px;
          text-decoration: none;
          background-image: var(--gradient);
          font-size: 24px;
          filter: grayscale(30%);
          opacity: 0.6;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
            transition: 0.33s;
          }
        }

        .selected-category {
          filter: grayscale(0);
          opacity: 1;
        }
      }

      .loader {
        right: 16px;
        bottom: 16px;
      }

      .observer {
        height: 1px;
        bottom: 1px;
      }
    }
  }
}
