.person-page {
  width: calc(100% - 46px); //46px = sidebar width

  .loader {
    left: 50%;
    top: 50%;
  }

  .content {
    width: calc(100% - 50px); //50px = sidebar width + paddings
    color: var(--text);
    z-index: 1;

    .breadcrumb {
      flex-wrap: nowrap;

      .item a,
      .item.active,
      .item.active:before {
        color: var(--text);
      }
    }

    .dropdown {
      margin-right: 42px;
    }

    .poster {
      width: 460px;
      height: 650px;
    }

    .biography {
      height: 400px;
    }
  }
}
