.header {
  .dropdown {
    margin-right: 42px;
  }

  .input-wrapper {
    width: 420px;

    .search-input {
      width: 420px;
      height: 35px;
      border: 3px var(--border) solid;
      padding: 6px;
      padding-right: 32px;
      background-color: var(--card);
      color: var(--text);
      cursor: pointer;

      &:focus {
        outline: none;
        border: 3px var(--border-active) solid;
      }
    }

    .clear-btn {
      color: var(--text);
      font-size: 24px;
      width: 24px;
      height: 24px;
      right: 0;
      top: 50%;
      transform: translate(-25%, -50%);
      cursor: pointer;
    }
  }
}
