.login-page {
  .theme-btn {
    align-self: flex-end;
  }

  .form-wrapper {
    width: 420px;
    height: 400px;
    background-image: var(--gradient);

    .text {
      color: var(--text);
    }

    .form {
      background-color: var(--card);

      .field-text {
        font-size: 20px;
      }

      .field {
        background-color: var(--card);
        border: 2px var(--border) solid;

        &:focus {
          outline: none;
          border: 2px var(--border-active) solid;
        }
      }

      .password-eye {
        width: 40px;
        height: 40px;
        right: -20px;
        background-color: #fff;
        cursor: pointer;
      }

      .error-text {
        color: rgb(230, 5, 5);
      }

      .submit-btn-wrapper {
        .submit-btn {
          height: 45px;
          background-image: var(--gradient);
          color: white;
          border: none;
          font-size: 20px;

          &:hover {
            transform: scale(1.05);
            transition: 0.33s;
          }
        }

        &.disabled {
          cursor: not-allowed;

          .submit-btn {
            filter: grayscale(30%);
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      .link {
        color: var(--border);
      }
    }
  }

  .loader {
    right: 16px;
    bottom: 16px;
  }
}
