.login-page {
  .form-wrapper {
    width: 420px;
    height: 400px;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

    .form {
      background-color: #fff;

      .field-text {
        font-size: 20px;
      }

      .field {
        border: 3px #fc00ff solid;

        &:focus {
          outline: none;
          border: 3px #00dbde solid;
        }
      }

      .password-eye {
        width: 50px;
        height: 50px;
        right: -20px;
        cursor: pointer;
      }

      .error-text {
        color: rgb(230, 5, 5);
      }

      .submit-btn-wrapper {
        .submit-btn {
          height: 45px;
          background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
          color: white;
          border: none;
          font-size: 20px;

          &:hover {
            transform: scale(1.05);
            transition: 0.33s;
          }
        }

        &.disabled {
          cursor: not-allowed;

          .submit-btn {
            filter: grayscale(30%);
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }

      .link {
        color: #fc00ff;
      }
    }
  }

  .loader {
    right: 16px;
    bottom: 16px;
  }
}
