.sidebar {
  width: 15%;
  border-right: 6px solid rgba(228, 228, 228, 0.521);

  .title-wrapper {
    background-color: #00dbde;
    background-image: var(--gradient);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    .title {
      font-size: 2em;
    }
  }

  .link {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
  }

  .sub-link {
    font-size: 14px;
  }

  .selected {
    background-image: var(--gradient);
    color: #fff;
  }

  .user {
    cursor: pointer;

    .user-img {
      width: 60px;
      height: 60px;
      background-image: var(--gradient);
    }

    &:hover {
      transform: scale(1.05);
      transition: 0.33s;
    }

    .username {
      color: var(--text);
      font-size: 18px;
    }
  }
}
