.sidebar {
  width: 15%;
  border-right: 6px solid rgba(228, 228, 228, 0.521);

  .title-wrapper {
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    .title {
      font-size: 2em;
    }
  }

  .user {
    .user-img {
      width: 70px;
      height: 70px;
      background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
    }
  }
}
