.movie-card-wrapper {
  width: 270px;
  height: 380px;
  background-image: var(--gradient);
  cursor: pointer;

  &:hover {
    background-image: none;
    background-color: var(--border-active);
  }

  .movie-card {
    background-color: var(--card);
    color: var(--text);

    .poster {
      width: 170px;
      height: 250px;
    }

    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      width: 170px;
      font-size: 18px;
    }

    .menu-btn {
      width: 40px;
      height: 40px;
      right: -8px;
      bottom: 0;
      cursor: pointer;
    }

    .menu {
      z-index: 5;
      bottom: 36px;
      color: #303030;

      .option {
        width: 240px;
        height: 36px;
        background-color: #ececec;
        cursor: pointer;

        &:hover {
          background-color: #cfcfcf;
        }

        .option-img {
          width: 24px;
          height: 24px;
        }
      }

      &.left-position {
        right: 0;
      }

      &.right-position {
        right: -50%;
      }
    }

    .genres {
      .genre {
        font-size: 14px;
      }
    }
  }
}
