.movie-card-wrapper {
  width: 270px;
  height: 380px;
  background-image: var(--gradient);

  .movie-card {
    background-color: var(--card);
    color: var(--text);

    .poster {
      width: 170px;
      height: 250px;
    }

    .title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      width: 170px;
      font-size: 18px;
    }

    .genres {
      .genre {
        font-size: 14px;
      }
    }
  }
}
